<!-- Main header -->
<div class="heading-section text-center">
    <h1>{{ title }}</h1>
</div>

<!-- Todos input -->
<div class="add-todo text-center">
    <form>
        <h2>Add New Todo</h2>
        <input 
            type="text"
            name="inputTodo" 
            placeholder="Add a todo..."
            class="todo-input"
            [(ngModel)]="inputTodo">
        <button type="button" (click)="addTodo()">Add</button>
    </form>
</div>


<!-- List of todos -->
<div class="todo-list text-center">
    <h2>Todo List</h2>

    <!-- Filter todos -->
    <div class="search-todos">
        <h3>Search todo list</h3>
        <input 
            type="text"
            name="search"
            placeholder="Search todo list..."
            class="todo-search"
            autocomplete="off"
            [(ngModel)]="searchText">
    </div>

    <!-- Go through the array -->
    <div class="todo" *ngFor="let item of allTodoItems | filter: searchText; let i = index;">

        <!-- ID of each item in the array, 0, 1, 2 -->
        <div class="id">{{ i }}</div>

        <!-- Content of each todo item -->
        <div class="content">{{ item }}</div>

        <button type="button" (click)="deleteTodo(i)">Delete</button>
        <button type="button" (click)="editTodo(i)">Edit</button>
    </div>
</div>