<!-- Main header -->
<section class="heading-section">
    <h1>{{ title }}</h1>
</section>

<!-- Todos input -->
<div class="container">
    <div class="add-todo">
        <form>
            <h2>Add New Todo</h2>
            <input 
                #newItem
                type="text" 
                placeholder="Add a todo">
            <button type="button" (click)="addTodo(newItem.value)">Add</button>
        </form>
    </div>
</div>

<!-- List of todos -->
<section>
    <div class="todo-list">
        <h2>Todo List</h2>
        <ul>
            <li *ngFor="let item of allTodoItems">{{item.description}}</li>
          </ul>
    </div>

    <div>
        <button type="button" (click)="deleteTodo()">Delete</button>
    </div>    

</section>